<footer
  class="opaco mx-auto flex h-[4.5rem] max-w-3xl items-center px-8 text-[0.9em] opacity-60"
>
  <p class="mr-auto">
    Sebuah proyek kelompok di Komunitas Minat &amp; Bakat IT
  </p>

  <p>Diberdayakan oleh
  <a class="link" href="https://gohugo.io/" rel="noopener" target="_blank"
    >Hugo️️</a
  >️ dan
  <a
    class="link"
    href="https://github.com/nanxiaobei/hugo-paper"
    rel="noopener"
    target="_blank"
    >Paper</a
  >
  </p>

</footer>
