/* Place custom css here. */

/* playfair-display-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Playfair-Display/playfair-display-v37-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* playfair-display-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Playfair-Display/playfair-display-v37-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* playfair-display-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Playfair-Display/playfair-display-v37-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* playfair-display-700italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/Playfair-Display/playfair-display-v37-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  @font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Display/InterDisplay-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Display/InterDisplay-Italic.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter-Display/InterDisplay-Bold.woff2") format("woff2");
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
  }

  p, b, i, a, time, summary, section, span {
    font-family: 'Inter Display';
  }

  .featured-image {
    width:200px;
    height:200px;
   }
   
  @media only screen and (max-width:600px) {
   .featured-image {
    width:100px;
    height:100px;
   }
  }

  img {
    border-radius: .375rem;
  }